.carrito-compra {
    position: relative;
    border: 2px solid purple;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    margin-right: 10px;
    background-color: #000;
}

.menu-navegacion-componente-font {
    font-size: .8rem;
}

.menu-navegacion-componente-font a.glink img {
    width: 24px;
    height: 24px;
}

.navbar {
    box-shadow: none;
    padding-left: 80px;
    padding-right: 80px;
}

.carrito-usuario {
    width: 35px;
    height: 35px;
    border-color: #ffff;
}

.carrito-compra:hover {
    color: purple;
}

.carrito-compra .contador-numero {
    position: absolute;
    top: -10px;
    right: 0;
    background-color: purple;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito-compra .contador-numero p {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.modal-carrito .modal-header {
    border: 0;
}

.modal-carrito .modal-content {
    background-color: #ffffff;
    color: #000;
}

.modal-carrito .modal-content .modal-title {
    display: flex;
    align-items: center;
}

.modal-carrito .modal-content .modal-title svg {
    margin-left: 3px;
}

.modal-carrito .modal-content .modal-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 0;
}

.modal-carrito .modal-content .modal-footer .btn {
    width: 100%;
    padding: 10px;
}

.modal-carrito .modal-content .modal-footer .subtotal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-carrito .modal-content .modal-footer p {
    margin-bottom: 10px;
}

.modal-carrito .modal-content .producto-modal img {
    width: 100%;
    object-fit: cover;
    height: 74px;

}

.modal-carrito .modal-content .descripcion {
    text-align: start;
    padding-left: 0;
}

.modal-carrito .modal-content .descripcion h5 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.modal-carrito .modal-content .producto-modal {
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.carrito-compra-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-borrar-carrito {
    border: none;
    background: none;
}